<!DOCTYPE html>
<html th:fragment="plantilla(titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<base th:href="@{/}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${titulo}">TITULO</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap-icons.min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
	<nav
		class="navbar bg-primary text-white border-bottom border-body navbar-expand-md mb-3"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Inmobiliaria</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Principal</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/listado-inmuebles}">Opción Frontend 1</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/listado-inmuebles2}">Opción Frontend 2</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/listado-clientes}">Clientes</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/listado-propietarios}">Propietarios</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/listado-operaciones}">Operaciones</a></li>
				</ul>
				<ul class="navbar-nav mb-2 mb-md-0">
					<li sec:authorize="isAuthenticated()"><button
							type="button" class="btn btn-dark" data-bs-toggle="modal"
							data-bs-target="#exampleModal">
							<i class="bi bi-bag-fill"></i>
						</button></li>
					<li id="usuario-activo" class="navbar-text" sec:authorize="isAuthenticated()"
						sec:authentication="name">Usuario</li>
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a
						class="nav-link" th:href="@{/login}">Inicio sesión</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><form
							th:action="@{/logout}" method="post">
							<button class="nav-link">
								<i class="bi bi-box-arrow-right"></i>
							</button>
						</form></li>
				</ul>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Operaciones realizadas</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
					
					<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Noticia</th>
					<th>Usuario</th>
					<th>Fecha operación</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Acción</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterar sobre la lista de operaciones y mostrar cada uno -->
				<tr th:each="prestamo : ${operaciones}">
					<td th:text="${prestamo.id}"></td>
					<td th:text="${prestamo.inmueble.nombre}"></td>
					<td th:text="${prestamo.usuario.nombre}+' '+${prestamo.usuario.apellido}"></td>
					<td th:text="${prestamo.fechaOperacion}"></td>
					
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{'/borrarOperacion/' + ${prestamo.id}}">Borrar</a> |
						<a th:href="@{'/editarOperacion/'+ ${prestamo.id}}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
					
					
					Operacion 1...</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary">Guardar cambios</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Button trigger modal -->


	</nav>
	<div th:replace="${contenido}">CONTENIDO</div>
	<div class="backlink">
		<a href="javascript:history.back()"><i class="bi bi-skip-backward"></i></a>
	</div>
	<footer class="p-2 text-bg-dark mt-3">
		<p>&copy;2024 Koldo Arretxea</p>
	</footer>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
