<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>Inmuebles</title>
<main>
	<h1 id="heading" class="display-6 p-3"></h1>
	<h1 id="heading" class="display-6 p-3"></h1>
	<h1 id="heading" class="display-5 p-3">Inmuebles</h1>
	<div class="contenedor">
		<div sec:authorize="hasRole('ROLE_ADMIN')" class="contenedor2">
			<h2 class="display-6 p-3">Guardar Inmuebles</h2>
			<form th:action="@{/guardarInmueble}" method="post"
				th:object="${inmueble}">
				<div class="form-group mb-3 mt-3  p-3">
					<input class="form-control" th:field="*{nombre}"
						placeholder="Nombre" autofocus> <span class="text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
						
											<input class="form-control"
						th:field="*{fechaInmueble}" placeholder="Fecha del inmueble"
						autofocus> <span class="text-danger"
						th:if="${#fields.hasErrors('fechaInmueble')}"
						th:errors="*{fechaInmueble}"></span> 
					<input class="form-control"
						th:field="*{imagenUrl}" placeholder="URL de imagen" autofocus>
					<span class="text-danger" th:if="${#fields.hasErrors('imagenUrl')}"
						th:errors="*{imagenUrl}"></span> 
					<label>Baños</label> <select class="form-control"
						th:field="*{banyos}" autofocus>
						<option th:each="i : ${#numbers.sequence(1, 9)}" th:value="${i}"
							th:text="${i}"></option>
					</select> <span class="text-danger"
						th:if="${#fields.hasErrors('banyos')}" th:errors="*{banyos}"></span>

					<label>Precio</label> <input class="form-control"
						th:field="*{precio}" placeholder="Precio" autofocus> <span
						class="text-danger" th:if="${#fields.hasErrors('precio')}"
						th:errors="*{precio}"></span> 
					
					<label>Tipo (Vivienda o
						Alquiler)</label>
					<select class="form-control" th:field="*{tipo}" autofocus>
					    <option value="Vivienda">Vivienda</option>
					    <option value="Alquiler">Alquiler</option>
					</select>
					 
						<span class="text-danger"
						th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span> 
					
					<label>Cocina</label>
					<select class="form-control" th:field="*{cocina}" autofocus>
						<option value="true">Sí</option>
						<option value="false">No</option>
					</select> 
					<span class="text-danger" th:if="${#fields.hasErrors('cocina')}"
						th:errors="*{cocina}"></span> 
					<label>Habitaciones</label> <select
						class="form-control" th:field="*{habitaciones}" autofocus>
						<option th:each="i : ${#numbers.sequence(1, 9)}" th:value="${i}"
							th:text="${i}"></option>
					</select> <span class="text-danger"
						th:if="${#fields.hasErrors('habitaciones')}"
						th:errors="*{habitaciones}"></span> 
						
					<label for="nombre">Selecciona
						un propietario registrado:</label> <select class="form-control"
						th:field="*{propietario}" autofocus>
						<option th:each="propietario : ${propietarios}"
							th:value="${propietario.id}"
							th:text="${propietario.nombre}+' '+${propietario.apellido}"></option>
					</select><span class="text-danger"
						th:if="${#fields.hasErrors('propietario')}"
						th:errors="*{propietario}"></span> <input class="form-control"
						th:field="*{direccion}" placeholder="Descripción" autofocus>
					<span class="text-danger" th:if="${#fields.hasErrors('direccion')}"
						th:errors="*{direccion}"></span>
					<textarea class="form-control" th:field="*{inmuebleTexto}"
						placeholder="Texto de inmueble" autofocus></textarea>
					<span class="text-danger"
						th:if="${#fields.hasErrors('inmuebleTexto')}"
						th:errors="*{inmuebleTexto}"></span>

					<button class="btn btn-primary" type="submit">Guardar</button>
					<!-- Mensajes de error -->
					<div class="text-danger" th:if="${#fields.hasErrors()}">
						<p class="error-message" th:each="error : ${#fields.errors('*')}">
							<span th:text="${error}"></span>
						</p>
					</div>

				</div>
			</form>
		</div>
		<div class="contenedor2">
			<h2 class="display-6 p-3">Búsqueda</h2>
			<form th:action="@{/listado-inmuebles}" method="get">
				<div class="form-group mb-3 mt-3  p-3">
					<input class="form-control" type="text" name="nombre"
						placeholder="Buscar por nombre"> <input
						class="form-control" type="text" name="propietario"
						placeholder="Buscar por propietario (nombre o apellidos)">
					<input class="form-control" type="date" name="fecha"
						placeholder="Buscar por fecha"> <input
						class="form-control" type="number" name="precioMin"
						placeholder="Precio mínimo"> <input class="form-control"
						type="number" name="precioMax" placeholder="Precio máximo">
					
					            <!-- Selector para elegir entre Vivienda o Alquiler -->
            <label for="tipo">Tipo:</label>
            <select class="form-control" name="tipo">
           		<option value="">Todos</option>
                <option value="Venta">Venta</option>
                <option value="Alquiler">Alquiler</option>
            </select>
					
					<button class="btn btn-primary" type="submit">Buscar</button>
				</div>
			</form>
		</div>
	</div>
	<div class="contenedor3">
		<h2 class="display-5 p-3">Listado de Inmuebles</h2>
		<table
			class="table table-striped table-hover table-bordered table-condensed table-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Imagen</th>
					<th>Precio</th>
					<!-- 					<th>Título</th> -->
					<th>Extracto</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Acción</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterar sobre la lista de inmuebles y mostrar cada uno -->
				<tr th:each="inmueble : ${inmuebles}">
					<td th:text="${inmueble.id}"></td>

					<td>
						<!-- Mostrar la imagen --> <img th:src="${inmueble.imagenUrl}"
						alt="Imagen de la inmueble"
						style="max-width: 100px; max-height: 100px;">
					</td>

					<td th:text="${#numbers.formatCurrency(inmueble.precio)}"></td>
					<td>
						<div class="extracto-titulo">
							<a th:href="@{/inmueble/{id}(id=${inmueble.id})}"
								th:text="${inmueble.nombre}"></a>
						</div>
						<div class="tipo" th:text="${inmueble.tipo}">
						</div>
						
						<div class="extracto"
							th:text="'[ '+${inmueble.fechaInmueble}+' ]'+' '+${inmueble.inmuebleTexto}"></div>
						<div class="extracto-propietario">
							<a th:if="${inmueble.propietario != null}"
								th:href="@{/propietario/{id}(id=${inmueble.propietario.id})}"
								th:text="'Propietario: '+${inmueble.propietario.nombre}+' '+${inmueble.propietario.apellido}"></a><span
								th:if="${inmueble.propietario == null}">Propietario
								Desconocido</span>
						</div>

					</td>


					<td class="col-1" sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="btn btn-sm btn-primary"
						th:href="@{'/editarInmueble/'+ ${inmueble.id}}"><i
							class="bi bi-pencil-square"></i></a> <a class="btn btn-sm btn-danger"
						th:href="${'borrarInmueble/' + inmueble.id}"><i
							class="bi bi-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</main>