<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Listado de Operaciones</title>
</head>

<body>
	<main>
		<h1 class="display-4 p-3"></h1>
		<h1 class="display-4 p-3"></h1>
		<h1 class="display-4 p-3">Operaciones</h1>

		<form th:action="@{/guardarOperacion}" method="post" th:object="${operacion}">
			<div class="form-group mb-3 mt-3  p-3">
				<input type="hidden" th:field="*{id}">
				<input id="primerCampo" class="form-control" th:field="*{id}" placeholder="IdOperacion" autofocus>
				<span class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
				<input class="form-control" th:field="*{inmueble}" placeholder="Inmueble">
				<span class="text-danger" th:if="${#fields.hasErrors('inmueble')}" th:errors="*{inmueble}"></span>
				<input class="form-control" th:field="*{usuario}" placeholder="Usuario">
				<span class="text-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></span>

				<button class="btn btn-primary" type="submit">Guardar</button>
			</div>
		</form>

		<h2 class="display-2 p-3">Listado de Operaciones</h2>
		<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Inmueble</th>
					<th>Usuario</th>
					<th>Fecha operación</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Acción</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterar sobre la lista de operacions y mostrar cada uno -->
				<tr th:each="operacion : ${operaciones}">
					<td th:text="${operacion.id}"></td>
					<td th:text="${operacion.inmueble.nombre}"></td>
					<td th:text="${operacion.usuario.nombre}+' '+${operacion.usuario.apellido}"></td>
					<td th:text="${operacion.fechaOperacion}"></td>
					
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{'/borrarOperacion/' + ${operacion.id}}">Borrar</a> |
						<a th:href="@{'/editarOperacion/'+ ${operacion.id}}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>

</html>